NinjaFactory/NinjaFactory/bin
NinjaFactory/NinjaFactory/obj
NinjaFactory/NinjaFactory/*.Config
NinjaFactory/NinjaFactory.DataBase/bin
NinjaFactory/NinjaFactory.DataBase/obj
NinjaFactory/NinjaFactory.DataBase/*.Config
NinjaFactory/NinjaFactory.XMLReporting/bin
NinjaFactory/NinjaFactory.XMLReporting/obj
NinjaFactory/NinjaFactory.XMLReporting/*.Config