<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TeamworkBlackDragonEntities" connectionString="metadata=res://*/NinjaFactoryData.csdl|res://*/NinjaFactoryData.ssdl|res://*/NinjaFactoryData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TEDI-05-PC;initial catalog=TeamworkBlackDragon;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>